h1 { font-family: Verdana, Helvetica, Courier;
	color: yellow;
	background-color: #800000;
	font-size: 12pt }

p { background-color: #ff3;
	border: 1px solid black;
	color: red;
	font-size: 150%;
	padding: 1em; }
